/* @keyframes backgroundCycle {
   
    
    100% {
      background-image: url('./img/0.jpg');
    }
  } */
  
  body {
font-family: "Work Sans", sans-serif;
  margin: 0;
  background-image: url('./img/0.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  
